/* You can add global styles to this file, and also import other style files */
/* bootstrap css */
@import "~bootstrap/dist/css/bootstrap.css";

.cont{
    padding: 3rem;
    background-color: rgb(128, 125, 131);
}

.ff{
    background-color: cadetblue;
}